html {
  height: 100%;
  width: 100%;
}
#myNav a {
  color: #FF3CAC;
}
#myNav a:hover {
  background-color: #6d1aa8;
  color: #FF3CAC;
}
body {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}
#msgDiv {
  font-weight: bold;
}
#msgDiv:hover {
  color: #FF3CAC;
}
#p {
  color: black;
  font-weight: bold;
}
