html {
  height: 100%;
  width: 100%;
}
#myNav a {
  color: #6d1aa8;
}
#myNav a:hover {
  background-color: #2B86C5;
  color: #6d1aa8;
}
p {
 display: inline-block;
    font-weight: bold;
}
p:hover {
  color: #6d1aa8;
}
#msgDiv {
  text-align: center;
  paddding-top: 10px;
  margin-bottom: 0px;
}
body {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}